<!DOCTYPE html>
<html>
  <head>
    <title>CDPSgram</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type='text/javascript' src="javascripts/jquery.min.js"></script>
    <script type='text/javascript' src="javascripts/bootstrap.js">></script>
    <script type='text/javascript' src="javascripts/functions.js">></script>
  </head>
  <body>
  	<div id="header">
    	<h1><a href="/">CDPSgram</a></h1>
  	</div>
    <div id="container">
	    <div id="nav-bar">
	    	<ul>
	    		<li><a href="/photos">My photos</a></li>
	    		<li><a href="/photos/new">Upload new photo</a></li>
	    	</ul>
	    </div>
	    <div id="container-body"><%- body %></div>
    </div>
  </body>
</html>